apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-2048-game
  namespace: demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: 2048-game
  template:
    metadata:
      labels:
        app: 2048-game
    spec:
      imagePullSecrets:
      - name: ghcr-registry-secret
      containers:
      - name: 2048-game
        image: ${DOCKER_REGISTRY}/${DOCKER_REGISTRY_USERNAME}/2048-mobile-game:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            memory: "64Mi"
            cpu: "100m"
          limits:
            memory: "128Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
